#cloud-config

resize_rootfs: True
hostname: {{ vm_name }}

users:
  - default
  - name: {{ vm_user }}
    primary_group: {{ vm_user }}
    groups: sudo
    home: /home/{{ vm_user }}
    shell: /bin/bash
    ssh-authorized-keys:
      - {{ user_ssh_key }}
chpasswd:
  list: |
    {{ vm_user }}:{{ vm_user_pass }}
    root:{{ vm_root_pass }}
  expire: false


package_upgrade: true
packages:
 - qemu-guest-agent

runcmd:
  - dhclient
  - mkdir /home/{{ vm_user }}
  - chown {{ vm_user }}:{{ vm_user }} /home/{{ vm_user }}
  - echo "{{ vm_user }}      ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers.d/{{ vm_user }}
  - [ systemctl, daemon-reload ]
  - [ systemctl, enable, qemu-guest-agent ]
  - [ systemctl, start, qemu-guest-agent ]